/*Style for next and previous-buttons*/
.next-page{
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;
 }

 .previous{
  list-style-type: none;
}
.page-number{
 color:aqua;
}
.next{
  color: rgb(217, 17, 17);
}