//ADVERTISING
.img-advertising {
  display: flex;
  justify-content: space-evenly;
  background-color: #ffff;

  img {
    display: none;

    @media (min-width: 992px) {
      display: block;
      padding: 30px;
      z-index: 1;
    }

    @media (min-width: 1200px) {
      // padding-top: 98px;
      // padding-bottom: 30px;
      // padding-right: 50px;
      // padding-left: 50px;
    }
  }
}
