.articles{

    .container{

        .top-heading{

            /* h2{} */
            .top-row{
                /* h3{}
                a{} */
            }

        }

        article{
            .img-1 {
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
            }
             .box-date{
                background-color: #F9D783;
                display: block;
                span{
                    font-family: $font-family-DM;
                    font-size: 22px;
                    font-weight: 700;
                }
                font-family: $font-family-Inter;
                font-weight: 400;
                font-size: 16px;
             }
            h4{
                font-family: $font-family-Inter;
                font-size: 16px;
                color: #6A6C71;
                font-weight: 400;
            }
            h5{
                font-family: $font-family-DM;
                font-weight: 700;
            }
            p{
                font-family: $font-family-Inter;
                font-size: 16px;
                color: #6A6C71;
                font-weight: 400;
            } 
        }
    }
}




