//SASS VARIABLES

$btn-yellow: #F9D783;
$btn-transparent: transparent;
$btn-black: #191919;
$text-color-light: #F0EFE9;
$text-color-dark: #191919;
$font-family-DM: 'DM Sans', sans-serif; 
$font-family-Inter: 'Inter', sans-serif;
$h2-text-color: #F94D1C;