@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,600;9..40,700&family=Hanken+Grotesk:wght@200;300;400;500;600&display=swap");
.showcase {
  background-color: #F0EFE9;
  position: relative;
  z-index: 0;
}
.showcase .background-lines {
  position: absolute;
  bottom: -140px;
  z-index: -1;
  width: 100%;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 86px;
  }
}
.showcase .container .content h3 {
  font-size: 18px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .showcase .container .content h3 {
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}
.showcase .container .content a {
  margin-right: 40px;
  margin-left: 40px;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .showcase .container .content a {
    display: inline-block;
    margin-right: 10px;
  }
}
.showcase .container img {
  margin-right: -50px;
  display: none;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}

.img-advertising {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
}
.img-advertising img {
  display: none;
}
@media (min-width: 992px) {
  .img-advertising img {
    display: block;
    padding: 30px;
    z-index: 1;
  }
}
.features {
  padding: 20px;
  margin-top: 50px;
}
@media (min-width: 1200px) {
  .features {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .features .container {
    display: flex;
    margin: 0 auto;
    border: 1px solid #E7E7E7;
    padding: 40px 70px 70px 70px;
  }
}
.features .container .content {
  text-align: center;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .features .container .content {
    text-align: left;
    line-height: 1.2;
    align-items: flex-start;
    margin-right: 60px;
  }
}
.features .container h2 {
  color: #F94D1C;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  margin-bottom: 30px;
  margin-top: 30px;
}
.features .container h3 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .features .container h3 {
    font-size: 45px;
  }
}
.features .container a {
  margin-right: 40px;
  margin-left: 40px;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .features .container a {
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .features .container a {
    display: block; /* Gör länken till en blocknivå-element */
    width: 100%; /* Ta upp hela bredden av föräldern */
    margin: 0; /* Ta bort marginaler */
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center; /* Centrera texten inom länken om det behövs */
  }
}
@media (min-width: 768px) {
  .features .container .features-consulting {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 10px;
  }
}
@media (min-width: 1200px) {
  .features .container .features-consulting {
    padding-top: 40px;
  }
}
.features .container .features-consulting .box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1200px) {
  .features .container .features-consulting .box {
    margin-right: 30px;
    padding-right: 100px;
    width: 130%;
  }
}
.features .container .features-consulting .box img {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 20%;
  color: #191919;
}
.features .container .features-consulting .box h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.features .container .features-consulting .box p {
  padding: 10px 10px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #707070;
}
@media (min-width: 1200px) {
  .features .container .features-consulting .box p {
    text-align: left;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .features .container .features-consulting .box {
    align-items: flex-start;
  }
}

/* Grundläggande stil för mobila enheter (mindre än 1200px bredd) */
.about .container {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  align-items: center;
  /* Stilar för skärmar med en bredd på 1200px eller mer */
}
@media (min-width: 1200px) {
  .about .container {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    gap: 30px;
  }
}
.about .container .content {
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .about .container .content h2 {
    margin-bottom: 50px;
  }
}
.about .container .content h3 {
  margin-bottom: 50px;
}
@media (min-width: 1200px) {
  .about .container .content h3 {
    margin-bottom: 45px;
  }
}
.about .container .content .p-last {
  margin-bottom: 50px;
}
@media (min-width: 1200px) {
  .about .container .content .p-last {
    margin-bottom: 80px;
    margin-top: 50px;
  }
}
.about .container .content p {
  padding: 20px;
}
@media (min-width: 1200px) {
  .about .container .content p {
    padding: 10px;
  }
}
.about .container .content .btn-black i {
  margin-left: 10px;
}
@media (min-width: 1200px) {
  .about .container .content .btn-black {
    margin-right: 44px;
  }
}
@media (min-width: 1200px) {
  .about .container .content {
    margin-left: 35px;
  }
}
.about .container .founder img {
  margin-top: 30px;
  text-align: center;
  display: none;
}
@media (min-width: 992px) {
  .about .container .founder img {
    display: block;
  }
}
.about .container .founder .background-frame {
  display: none;
}
@media (min-width: 992px) {
  .about .container .founder .background-frame {
    display: block;
  }
}
.about .container .founder .background-frame p {
  font-family: "DM Sans", sans-serif;
  display: inline-block;
  background-color: #beebff;
  width: 100%;
  padding: 10px;
}
.about .container .founder .background-frame p span {
  color: #f94d1c;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .about .container .founder .background-frame p {
    position: relative;
    bottom: 220px;
    left: -60px;
    background-color: #beebff;
    width: 70%;
    padding: 40px 30px 40px 30px;
  }
}
@media (min-width: 1200px) {
  .about .container .founder {
    text-align: left;
    margin-right: 95px;
  }
}

header {
  display: flex;
  background-color: #F0EFE9;
  /* placera headern i mitten */
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 78px;
}
@media (min-width: 2500px) {
  header .container {
    max-width: 2048px;
  }
}
header .container a {
  margin: 0 auto 0 10px;
}
header .container .menu-bars {
  font-size: 25px;
  border: none;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .menu-bars {
    display: none;
  }
}
header .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .top-menu {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #dad9d3;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu {
    justify-content: space-between;
  }
}
header .container .menu .top-menu .contact-information {
  display: none;
  padding: 10px;
  width: 100%;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu .contact-information {
    display: flex;
  }
}
header .container .menu .top-menu .contact-information .content-box {
  margin-right: 30px;
  padding-right: 25px;
  border-right: 1px solid #dad9d3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
header .container .menu .top-menu .contact-information .content-box i {
  margin-right: 5px;
  font-size: 1.2em;
  color: rgba(102, 102, 102, 0.4);
}
header .container .menu .top-menu .contact-information .content-box.last {
  border: none;
}
header .container .menu .top-menu .social-media a {
  text-decoration: none;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu .social-media {
    display: flex;
  }
}
header .container .menu .top-menu .social-media i {
  color: #191919;
  font-size: 1.3rem;
  margin-left: 10px;
}
header .container .menu .top-menu .social-media i:hover {
  color: #666666;
}
header .container .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
header .container .menu .main-menu nav a {
  display: inline-block;
  text-decoration: none;
  color: #191919;
  margin-right: 35px;
  position: relative;
}
header .container .menu .main-menu nav a.active {
  font-weight: 500;
}
header .container .menu .main-menu nav a.active::after, header .container .menu .main-menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .container .btn-login {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-right: 0;
}

.services {
  padding: 40px;
  background-color: #f0efe9;
  position: relative;
  z-index: 0;
}
.services .background-lines-right {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: -1;
}
.services .container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 1200px) {
  .services .container .headlines {
    text-align: left;
  }
}
.services .container .content {
  display: grid;
  grid-row-gap: 30px;
  margin-bottom: 50px;
}
.services .container .content .box {
  height: -moz-fit-content;
  height: fit-content;
  background-color: #ffffff;
  padding: 30px;
}
.services .container .content .box:hover {
  background-color: #F9D783;
  color: #191919;
}
.services .container .content .box span {
  border-top: 1px solid black;
  width: 40px;
  grid-row: 1/3;
  grid-column: 1/3;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .services .container .content .box span {
    margin-top: 20px;
  }
}
.services .container .content .box h4 {
  padding-top: 40px;
}
@media (min-width: 768px) {
  .services .container .content .box h4 {
    grid-row: 1/2;
    grid-column: 1/5;
  }
}
@media (min-width: 1200px) {
  .services .container .content .box h4 {
    grid-column: 1/5;
    grid-row: 2/2;
  }
}
@media (min-width: 768px) {
  .services .container .content .box p {
    grid-row: 2/2;
    grid-column: 1/5;
  }
}
@media (min-width: 1200px) {
  .services .container .content .box p {
    grid-column: 1/5;
    grid-row: 3/3;
  }
}
.services .container .content .box a {
  background-color: #191919;
  color: #F0EFE9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 26px 28px;
}
.services .container .content .box a:hover {
  background-color: #ffffff;
  color: #191919;
  border: none;
}
.services .container .content .box a i {
  font-size: 22px;
}
@media (min-width: 768px) {
  .services .container .content .box a {
    grid-row: 3/3;
    grid-column: 4/5;
  }
}
@media (min-width: 1200px) {
  .services .container .content .box a {
    grid-column: 4/5;
    grid-row: 4/4;
  }
}
@media (min-width: 768px) {
  .services .container .content .box {
    display: grid;
  }
}
@media (min-width: 768px) {
  .services .container .content {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-column-gap: 30px;
  }
}
@media (min-width: 1200px) {
  .services .container .content {
    grid-template-columns: 25% 25% 25% 25%;
    text-align: left;
    margin-right: 70px;
  }
}
@media (min-width: 1200px) {
  .services .container {
    margin: 0 auto;
  }
}

.container > a {
  margin-top: 30px;
  margin: 0 auto;
}

.choose-us .container {
  z-index: 0;
}
.choose-us .container .main-img-container {
  position: relative;
  top: 200px;
  left: 0;
}
.choose-us .container .main-img-container .frame-grey {
  display: none;
}
@media (min-width: 1200px) {
  .choose-us .container .main-img-container .frame-grey {
    display: block;
    background-color: #F0EFE9;
    width: 290%;
    top: 60px;
    left: 10px;
    height: 410px;
    margin-top: 50px;
    margin-left: -20px;
    z-index: -1;
  }
}
.choose-us .container .main-img-container .main-img {
  display: none;
}
@media (min-width: 992px) {
  .choose-us .container .main-img-container .main-img {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .choose-us .container .main-img-container .main-img {
    display: block;
    position: absolute;
    top: -130px;
    left: 70px;
    width: 200%;
  }
}
@media (min-width: 1200px) {
  .choose-us .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    margin-bottom: 15px;
  }
}
.choose-us .content {
  grid-column: span 2;
  text-align: center;
}
.choose-us .content .headlines {
  text-align: center;
}
@media (min-width: 1200px) {
  .choose-us .content .headlines {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .choose-us .content .headlines h2 {
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .choose-us .content .headlines h3 {
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .choose-us .content .box {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.choose-us .content .box a {
  margin-top: 10px;
  grid-row: 1/4;
  grid-column: 1/1;
}
.choose-us .content .box a img {
  border-radius: 50%;
  border: 1px solid #e7e7e7;
  padding: 10px;
}
@media (min-width: 1200px) {
  .choose-us .content .box a {
    margin-right: 30px;
  }
}
.choose-us .content .box h4 {
  grid-row: 1;
  grid-column: 2/2;
  text-align: center;
}
.choose-us .content .box p {
  grid-row: 2/3;
  grid-column: 1/4;
}
@media (min-width: 1200px) {
  .choose-us .content .box p {
    margin-left: -65px;
    margin-top: -2px;
  }
}

.case .container .headlines {
  margin-top: 130px;
  text-align: center;
}
.case .container .headlines h3 {
  margin-top: 40px;
  margin-bottom: 100px;
}
.case .container .content-grid {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}
@media (min-width: 768px) {
  .case .container .content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.case .container .content-grid .box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  margin: 0 auto;
  border-bottom: 1px solid #E7E7E7;
}
.case .container .content-grid .box img {
  width: 100%;
  height: auto;
}
@media (min-width: 1200px) {
  .case .container .content-grid .box {
    border-bottom: none;
  }
}
.case .container .content-grid h4 {
  margin-top: 70px;
  margin-bottom: 30px;
  text-align: left;
  padding-bottom: 16px;
  padding-top: 35px;
}
@media (min-width: 1200px) {
  .case .container .content-grid h4 {
    border-bottom: 1px solid #E7E7E7;
  }
}
.case .container .content-grid a {
  text-align: right;
  text-decoration: none;
  color: #191919;
  font-weight: 500;
  font-size: 14px;
  border: none;
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .case .container .content-grid a {
    margin-bottom: 10px;
  }
}
.case .container .content-grid a:hover {
  border-radius: 25px;
  background-color: #F9D783;
  text-transform: uppercase;
}
.case .container .btn-black {
  margin-bottom: 30px;
}
.case .container .btn-black i {
  margin-left: 10px;
}
.case .container .center-content {
  margin-top: 50px;
  margin-bottom: 90px;
}

.subscribe {
  background-color: #f0efe9;
  padding: 40px;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  z-index: 0;
}
.subscribe .background-wavy-lines {
  position: absolute;
  bottom: 50px;
  right: 0;
  z-index: 0;
}
.subscribe .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (min-width: 992px) {
  .subscribe .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.subscribe .container h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  color: #191919;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .subscribe .container h2 {
    margin-right: 160px;
  }
}
.subscribe .container form {
  border-radius: 25px;
}
@media (min-width: 992px) {
  .subscribe .container form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.subscribe .container form input {
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-size: 16px;
  border: 1px solid rgba(25, 25, 25, 0.1019607843);
  border-radius: 25px;
  outline: none;
}
@media (min-width: 992px) {
  .subscribe .container form input {
    margin-right: 20px;
    margin-bottom: 0;
  }
}
.subscribe .container form button {
  position: relative;
  border: none;
  z-index: 0;
}
.team {
  background-color: #edcf86;
}
.team .container {
  text-align: center;
}
.team .container .top-heading {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  .team .container .top-heading {
    text-align: left;
    margin-bottom: 40px;
  }
}
.team .container .top-heading h2 {
  margin-top: 120px;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .team .container .top-heading h2 {
    text-align: left;
  }
}
.team .container .top-heading .top-row {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .team .container .top-heading .top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }
}
.team .container .top-heading a {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 60px;
}
@media (min-width: 992px) {
  .team .container .top-heading a {
    display: flex;
    justify-content: flex-end;
    margin-left: 180px;
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media (min-width: 1200px) {
  .team .container .top-heading a {
    margin-left: 360px;
  }
}
@media (min-width: 1400px) {
  .team .container .top-heading a {
    margin-left: 530px;
  }
}
.team .container .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); /* Använd auto-fill för automatisk fyllning */
  grid-gap: 35px;
  text-align: center;
  margin-top: 40px;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 0 auto;
}
.team .container .content .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 100%;
}
@media (min-width: 992px) {
  .team .container .content .box {
    align-items: flex-start;
  }
}
.team .container .content .box img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin-bottom: 30px;
}
.team .container .content .box p {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1.38rem;
}
@media (min-width: 992px) {
  .team .container .content .box p {
    text-align: left;
  }
}
.team .container .content .box .descr-txt {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #595039;
  margin-top: -10px;
  margin-bottom: 56px;
}
.team .dots {
  text-align: center;
  padding-bottom: 120px;
}
.team .dots .dot {
  height: 15px;
  width: 15px;
  background-color: #707070;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
}
.team .dots .dot-2 {
  background-color: #191919;
}

.testimonial {
  background-color: #edcf86;
  border-top: 1px solid #edcf86;
  padding-block: 9rem;
}
.testimonial .container {
  padding-inline: 6rem;
  background-color: #fff;
  padding-block: 10rem;
}
.testimonial .container .top-heading {
  text-align: center;
  margin-bottom: 5rem;
}
.testimonial .container .top-heading h2 {
  margin-bottom: 45px;
}
.testimonial .container article {
  gap: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}
.testimonial .container article .box p {
  line-height: 2rem;
  margin-bottom: 50px;
}
.testimonial .container article .box .rating {
  margin-bottom: 30px;
}
.testimonial .container article .box .rating span {
  color: #f94d1c;
}
.testimonial .container article .box .rater {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.testimonial .container article .box .rater img {
  grid-column: 1/2;
  grid-row: 1/3;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -o-object-fit: "";
     object-fit: "";
}
.testimonial .container article .box .rater p {
  margin-bottom: 0;
}
.testimonial .container article .box .rater .name {
  grid-column: 2/3;
  grid-row: 1/1;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.testimonial .container article .box .rater .descr-txt {
  grid-column: 2/3;
  grid-row: 2/2;
  color: #F94D1C;
}
.testimonial .container .center-content {
  margin-top: 110px;
}

.articles .container .top-heading {
  /* h2{} */
}
.articles .container .top-heading .top-row {
  /* h3{}
  a{} */
}
.articles .container article .img-1 {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.articles .container article .box-date {
  background-color: #F9D783;
  display: block;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.articles .container article .box-date span {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.articles .container article h4 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #6A6C71;
  font-weight: 400;
}
.articles .container article h5 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}
.articles .container article p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #6A6C71;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

html,
body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  text-transform: capitalize;
}

footer {
  background-color: #191919;
  color: #F0EFE9;
  padding: 50px;
  grid-area: footer;
}

main {
  grid-area: main;
}

header {
  grid-area: header;
}

.headlines h2 {
  color: #f94d1c;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  margin-bottom: 30px;
  margin-top: 30px;
}

h2 {
  color: #F94D1C;
  font-size: 18px;
  font-family: "Inter", sans-serif;
}

h3 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  h3 {
    font-size: 45px;
  }
}

h4 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-yellow {
  background-color: #F9D783;
  color: #191919;
  border-color: 1px solid #F9D783;
  border-radius: 25px;
  padding: 15px 30px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}
.btn-yellow i {
  margin-left: 7px;
  font-size: 0.9em;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 10px solid #191919;
  color: #F0EFE9;
}

.btn-transparent {
  background-color: transparent;
  color: #191919;
  border: 1px solid #191919;
  border-radius: 25px;
  padding: 12px 25px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}
.btn-transparent i {
  margin-left: 7px;
  font-size: 0.9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 10px solid #191919;
  color: #F0EFE9;
}

.btn-black {
  background-color: #191919;
  color: #f0efe9;
  border-color: 1px solid #F9D783;
  border-radius: 25px;
  padding: 12px 25px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}
.btn-black i {
  margin-left: 7px;
  font-size: 0.9em;
}
.btn-black:hover {
  background-color: #F9D783;
  border: 10px solid #F9D783;
  color: #191919;
}

.btn-circle {
  background-color: transparent;
  color: #191919;
  border: 1px solid #191919;
  border-radius: 50%;
  padding: 11px 17px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  width: 50px; /* Ange den önskade bredden här */
  height: 50px;
}
.btn-circle:hover {
  background-color: #191919;
  border: 10px solid #191919;
  color: #F0EFE9;
}