.showcase{
    position: relative;
    z-index: -1;
    .backround-lines{
        position: absolute;
        z-index: 1;
    }
    .container{
        .content{
            text-align: center;
            .small-h1{
                font-family: $font-family-Inter;
                font-size: 16px;
                font-weight: 500;
                color: #707070;
            }
            .large-p {
                font-family: $font-family-DM;
                font-size: 56px;
                font-weight: 700;
                color: #191919;
            }
        }

    }
}

.contact-form{
    background-color: #F0EFE9;
    z-index: 1;
    h2{
        font-size: 45px;
        color: #191919;
        font-weight: 700;
        text-transform: none;
    }
}

    .form-label {
        display: block;

    }
    .form-input {
        display: block;
        width: 100%;
        padding: 15px;
        border: none;
        border-radius: 25px;
    }

textarea {
    resize: none;
    height: 200px;
    border-radius: 25px;
    // width: 40%;
}