.articles-news {
  .container {
    .top-heading {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
      text-align: center;
      @media (min-width: 992px) {
        text-align: left;
        margin-bottom: 40px;
      }

      @media (min-width: 1200px) {
      }

      h2 {
        margin-top: 120px;
        margin-bottom: 20px;
        // text-align: center;
        @media (min-width: 992px) {
          text-align: left;
        }
      }
      .top-row {
        display: flex;
        flex-direction: column;

        @media (min-width: 992px) {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-content: center;
        }
      }
      h3 {
      }
      a {
        // display: block;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 60px;
        &:hover{
          transform: scale(1.1);
        }

        @media (min-width: 992px) {
          display: flex;
          justify-content: flex-end;
          margin-left: 50px;
          padding-right: 40px;
          padding-left: 40px;
        }
        @media (min-width: 1200px) {
          margin-left: 230px;
        }
        @media (min-width: 1400px) {
          margin-left: 410px;
        }
      }
    }
    .articles {
      // display: flex;
      // flex-direction: row;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
      gap: 20px;
      text-align: center;

      article {
        position: relative;
        display: flex;
        flex-direction: column;


        img{
          width: 80%;
          // max-height: 100%;
          margin: 0 auto;
          height: auto;
        }
        .img-1 {
          // max-width: 100%;

          // width: auto;

        }
        .box-date {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          top: 16px;
          left: 38px;
          text-align: center;
          background-color: #f9d783;
          width: 56px;
          height: 65px;
          p {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            margin-bottom: 0;
            text-align: center;

            span {
              font-family: $font-family-DM;
              font-size: 22px;
              font-weight: 700;
              margin-bottom: -10px;
            }
          }
          font-family: $font-family-Inter;
          font-weight: 400;
          font-size: 16px;

          @media (min-width: 768px) {
            top: 16px;
            left: 50px;
          }
        }

        .content {
          display: flex;
          flex-direction: column;
          align-items: center;
          max-width: 80%;
          margin: 0 auto;

          h4 {
            font-family: $font-family-Inter;
            font-size: 16px;
            color: #6a6c71;
            font-weight: 400;
            margin-top: 30px;
            margin-bottom: 35px;
            max-width: fit-content;
            text-align: center;
            @media (min-width: 768px) {
              align-self: flex-start;
            }
          }
          h5 {
            font-family: $font-family-DM;
            font-weight: 700;
            margin-bottom: 25px;
            text-align: center;
            @media (min-width: 768px) {
              text-align: left;
            }
          }
          p {
            font-family: $font-family-Inter;
            font-size: 16px;
            color: #6a6c71;
            font-weight: 400;
            text-align: center;
            @media (min-width: 768px) {
              text-align: left;
            }
          }
        }
      }
    }
  }
  .dots{
    text-align: center;
    margin-top: 55px;
    margin-bottom: 100px;



  .dot {
    height: 15px;
    width: 15px;
    background-color: #707070;
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;

  }
  .dot-active{
    background-color: #191919;
  }
}
}
