// SHOWCASE
.showcase {
    background-color: #F0EFE9;
    position: relative; //anger position relative för positionering av bakgrundslinjer
    z-index: 1;

   .background-lines{
        position: absolute;
        bottom: -140px;
        z-index: -1;  //placerar i rätt lager
        width: 100%;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .content {
            padding-top: 40px;
            padding-bottom: 40px;
            text-align: center;
            margin-bottom: 30px;
            margin-top: 20px;
        }

            @media (min-width: 1200px) {
                text-align: left;
                margin-bottom: 0;
                margin-top: 0;
            }
            h1 {
                font-family: $font-family-DM;
                font-weight: 700;
                font-size: 40px;
                
                @media (min-width: 768px) {
                    font-size: 70px;
                }

                @media (min-width: 1400px) {
                    font-size: 86px;
                }
            }
            p{
                margin-bottom: 55px;
                width: 90%;
            }
            h3 {   
                font-size: 18px;
                padding-top: 40px;
                padding-bottom: 40px;
                padding-left: 10px;
                padding-right: 10px;

                @media (min-width: 768px) {
                    font-size: 20px;
                    padding-left: 0;
                    padding-right: 0;
            }
        }
            a {
                display: block;
                margin-bottom: 20px;
                z-index:1;
                &:hover{
                    transform: scale(1.1);
                  }

                @media (min-width: 768px) {
                    display: inline-block;
                    margin-right: 10px;
                }
            }
        }
        .img-showcase{
            margin-right: -50px;
            display: none;
            
            @media (min-width: 1200px) {
                display: block;             
            }
        }
        .background-lines {}
    }


